<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .r{
            background-color: black;
            width: 100vw;
            color: red;
        }
    </style>
</head>
<body>
    <H6 class="r">Hello world this how to serve a proper html </H6>
    <br>

    <p>first create templates folder then make all basic html file then use the syntax </p>
</body>
</html>